* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(140, 138, 138);
}




.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-family: "Inter";
}

.login__form {
  display: flex;
  flex-direction: column;
}

.login__form > h1 {
  color: rgb(112, 8, 210);
  text-align: center;
  font-size: 35px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  letter-spacing: -1px;
}

.login__form > input {
  min-width: 380px;
  padding: 20px 0;
  padding-left: 15px;
  margin-bottom: 10px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.24);
  font-family: "Inter";
  border-radius: 2px;
  font-size: 15px;
}

.submit__btn {
  padding: 17px 30px;
  margin-top: 10px;
  background: rgb(43, 38, 186);
  border: none;
  color: white;
  font-size: 24px;
  font-family: "Inter";
  border-radius: 3px;
}

.submit__btn:hover{
  background-color: rgb(125, 26, 183);
  color: black;
  font-size: 24px;
}




.logout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Inter";
}

.logout__button {
  min-width: 300px;
  padding: 17px 30px;
  margin-top: 20px;
  background: rgb(30, 142, 95);
  border: none;
  color: white;
  font-size: 24px;
  font-family: "Inter";
  border-radius: 3px;
}

.logout__button:hover{
  background-color: rgb(143, 17, 181);
  color: black;
  font-size: 24px;
}

.user__name {
  color: #da0a6b;
}